<template>
  <v-app>

    <!-- A コンテンツ -->
    <div class="my-content">
      <!-- A-1 サイドバーのボタン -->
      <v-app-bar-nav-icon @click="drawer = ! drawer" color="#ff69b4" large></v-app-bar-nav-icon>
      <!-- A-1 -->

      <!-- A-2 この中が routerで差し替えられる -->
      <div class="my-content1">
        <nuxt/>
      </div>
      <!-- A-2 -->

    </div>
    <!-- A -->

    <!-- B サイドバー -->
    <transition>
    <!-- B-1 サイドバーの下（灰色） -->
    <div class="my-overlay" v-show="drawer" @click.self="drawer = ! drawer">

      <!-- B-1-1 サイドバー本体 中に my-item クラスを入れていく -->
      <div class="my-bar">
        <div class="my-items">

          <div class="my-switch"> 
            <v-icon @click="drawer = ! drawer" color="#ff69b4"> mdi-close </v-icon>
          </div>
         
          <div class="my-item">
            <NuxtLink to="/" class="text-decoration-none">
              <span @click="drawer = ! drawer" class="itemlink"> Top </span>
            </NuxtLink>
          </div>

          <div class="my-item"> 
            <NuxtLink to="/works" class="text-decoration-none"> 
              <span @click="drawer = ! drawer" class="itemlink"> Works </span>
            </NuxtLink>
          </div>

          <div class="my-item"> 
            <NuxtLink to="/contact" class="text-decoration-none"> 
              <span @click="drawer = ! drawer" class="itemlink"> Contact </span>
            </NuxtLink>
          </div>

        </div>
      </div>
      <!-- B-1-1 -->

    </div>
    <!-- B-1 -->
    </transition>
    <!-- B -->

  </v-app>
</template>

<script>
  export default {
    data() { 
      return {
        drawer: false,
      }
    }
  }
</script>

<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.my-content {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 0;
    position: fixed;
    background-color:lavenderblush;

}

.my-content1 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}


.my-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
    position: fixed;
}

.my-bar {
    width: 30%;
    height: 100%;
    background-color: lavenderblush;
    z-index: 2;
    position: fixed;
}

@media screen and (max-width: 481px) {

  .my-bar {
    width: 100%;
    height: 100%;
    background-color: lavenderblush;
    z-index: 100;
    position: fixed;
  }

}

.my-items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.my-switch {
    width: 30%;
    font-size: 75%;
    text-align: right;
}


.my-item {
    width: 100%;
    height: 50px;
    text-align: center;
}

.itemlink {
    color:#ff69b4;
    font-family: 'Lobster', cursive;
    font-size: 200%;
}

.v-enter-active, .v-leave-active {
  transform: translate(0px, 0px);
  transition: transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.v-enter, .v-leave-to {
  transform: translateX(-100vw) translateX(0px);
}


</style>