<template>

  <div class="myindex">

    <div class="mytitle">
      <span class="mytitle-font"> Contact </span>
    </div>

    <div class="mykanban">
      <img src="image/test_hanami.jpeg">
    </div>

  </div>

</template>

<script>

export default {
  components: {
  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

  .myindex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .mytitle {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
  }

  .mytitle-font {
    font-size: 300%;
    font-family: 'Lobster', cursive;
    color: #ff69b4;
  }

  .mykanban {
    width: 100%;
    text-align: center;
  }

  .mykanban img {
    width: 70%;
  }
</style>