<template>

  <div class="myindex">

    <div class="mytitle">
      <span class="mytitle-font"> Works </span>
    </div>

    <v-row>

      <v-col cols="12" md="6" class="d-flex justify-center">
        <img src="/image/test_hanami.jpeg" class="my-img">
      </v-col>

      <v-col cols="12" md="6" class="d-flex justify-center">
        <img src="/image/test_hanami.jpeg" class="my-img">
      </v-col>

      <v-col cols="12" md="6" class="d-flex justify-center">
        <img src="/image/test_hanami.jpeg" class="my-img">
      </v-col>

      <v-col cols="12" md="6" class="d-flex justify-center">
        <img src="/image/test_hanami.jpeg" class="my-img">
      </v-col>

    </v-row>

  </div>

</template>


</template>

<script>

export default {
  components: {

  }
}
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.myindex {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .mytitle {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
  }

  .mytitle-font {
    font-size: 300%;
    font-family: 'Lobster', cursive;
    color: #ff69b4;
  }
 
 .my-img {
   width: 80%;
   object-fit:cover;
 }
</style>